@charset "utf-8";

body {
	font-family: 'Coda';
	padding: 0px;
	margin: 0px;
	background: #ebeeef;
}

.body-text {
  padding-top: 20vh;
  text-align: center;
  position: relative;
}

.hamburger-icon {
  position: absolute;
  z-index: 1;
  top: 5vh;
  left: 5vw;
  padding-bottom: 2vh;
}

.hamburger-icon span {
  height: 5px;
  width: 40px;
  background-color: black;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;
}

#openmenu:checked ~ .menu-pane {
  left: 5vw;
  transform: translateX(-5vw);
}

#openmenu:checked ~ .body-text {
display: none;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
  transform: translate(0%, 175%) rotate(-45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
  transform: rotate(45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
  opacity: 0;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
  opacity: 0;
}

div.menu-pane {
  background-color: #000;
  position: absolute;
  top: 0;
  transform: translateX(-105vw);
  transform-origin: (0, 0);
  min-width: 250px;
  width: 20vw;
  height: 100%;
  transition: 0.6s ease-in-out;
}

.menu-pane p {
  color: black;
  font-size: 0.6em;
}

.menu-pane nav {
  padding-top: 6vh;
  padding-left: 10%;
}

.menu-links li, a, span {
      transition: 0.5s ease-in-out;
}

.menu-pane ul {
  padding-top: min(100px, 10%);
  padding-left: min(20px, 5%);
  display: inline-block;
}

.menu-pane li {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
    font-size: 1.3em;
}


.menu-links li a {
  color: white;
  text-decoration: none;
}

.menu-links li:hover a {
  color: #FFAB91;
  background-color: #FFAB91;
}

input.hamburger-checkbox {
  position: absolute;
  z-index: 3;
  top: 5vh;
  left: 5vw;
  width: 10vw;
  opacity: 0;
  height: 6vh;
}

.a-default {
	color: #333;
	text-decoration: none;
}

.a-default:hover {
    text-decoration: underline;
    cursor: pointer;
}

.a-fb {
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}

.a-tw {
	text-decoration: none;
}

.a-twitch {
	text-decoration: none;
}

.twitch-button-container {
	padding: 10px;
	color: #fff;
	border-radius: 5px;
	background: #9147ff;
}

.twitch-button-container:hover {
	background: #772ce8;
}

.fb-button-container {
	padding: 10px;
	color: #fff;
	border-radius: 5px;
	background: #3d6ad6;
}

.fb-button-container:hover {
	background: #1D3C78;
}

.tw-button-container {
	padding: 10px;
	color: #fff;
	border-radius: 5px;
	background: #1da1ff;
}

.tw-button-container:hover {
	background: #1a90da;
}

.loading-overlay {
	display: none;
	background: rgba( 26, 26, 26, 0.7 );
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 5;
	top: 0;
}

.loading-overlay-image-container {
	display: none;
	position: fixed;
	z-index: 7;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}

.loading-overlay-img {
	width: 50px;
	height: 50px;
	border-radius: 5px;
}

tr:nth-child(even) {
  background-color: #c0c0c0;
}

@media screen and ( min-width: 800px ) { /* desktop */
	.pc-only {
		display: block;
	}

	.mobile-only {
		display: none;
	}
}

@media screen and ( max-width: 800px ) { /* mobile */
	.pc-only {
		display: none;
	}

	.mobile-only {
		display: block;
	}
}